.logo{
    height: 200px;
}

#h1 {
    
    font-size: 90px;
    
   
}

#inputWrapper {
    
    margin-top: 70px;
       padding-bottom: 40px;
    height: 400px;  // hade 400px; förut
   
   
    
   
    
}

.todoBox{
  //height: 800px; // hade denna //
}


#todoInput{
   flex-basis: none;
   height: 40px;
    width: 90px;
      font-size: 30px;
 
    
     
   
}

#todoForm, #addItemYourself {
    
    flex-basis: none;
    height: 60px;
  
    margin-bottom: 150px;
  
 
   
   
    
  
    
}


#todoList, #removeItemTodo{
    
    font-size: 15px;
}


    







ul {
    display: block;
   
}



footer{
    height: 200px;
}

    
