/* ul */

ul {
    display: block;


}



/* logo */

.logo {
    height: 200px;
}

/* titel i todo */

#h1 {

    font-size: 90px;


}

/* todo klass */

.todoBox ul, li {
    font-size: 20px;
}


/* input  i todo */

#inputWrapper {

    margin-top: 70px;
    padding-bottom: 40px;
    height: 400px;

}



#todoInput {

    height: 40px;
    width: 90px;
    font-size: 30px;

}

/* knappar i todo */

#todoForm, #addItemYourself {

    font-size: 15px;

    height: 60px;

    margin-bottom: 150px;

}


#todoList, #removeItemTodo {

    font-size: 14.5px;
}




/* footer */

footer {
    height: 200px;
}
