/* Nav, ul , li , body*/

nav {
    display: block;
    align-items: center;
    height: 100%;
    background: white;

}

ul {
    list-style: none;
}

li {
    font-family: 'Raleway', sans-serif;
}

nav ul {
    display: flex;
}


nav li {
    flex: 1;
    list-style: none;
    margin: 10px;

}

nav ul li a {
    font-size: 1.3em;
    text-decoration: none;

}



body {
    margin: 0;
}


/* logo */

.logo {
    background-color: burlywood;
    width: 100%;
    height: 100px;
}

/* clear */

.clear {
    clear: both;
}

/* wrapper */

.wrapper {
    margin: 0 auto;
}

/* parchment */

.parchment {

    padding-top: 70px;
    text-align: center;
    padding-bottom: 20px;
    background-image: url(/images/old_paper_texture_relief_large.jpg);
    display: block;
    background-position: center;
    height: 100%;
    background-size: cover;



}

.parchment img {
    display: block;
    width: 100%;
    min-height: 100%;
}

/* todo klasser */

.todoBox {
    text-align: center;
    background-color: white;
    width: 70%;
    margin: 0 auto;
    border-radius: 6px;
    line-height: 2em;
    text-align: center;


}

.todoBox ul, li {
    padding: 10px;
}

/* titel i todo */

.todoBox, #h1 {

    font-family: 'Raleway', sans-serif;
    padding-bottom: 50px;
    padding-top: 10px;



}

/* text titel mellan todo och done */

.h2 {
    font-family: 'Raleway', sans-serif;
}


/* knappar i todo och done */

#removeItemTodo {

    background-color: burlywood;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    width: 200px;
    height: 60px;
    margin-bottom: 14px;
    font-family: 'Raleway', sans-serif;

}


#removeItemTodo :hover {
    display: none;
    background-color: black;
    color: white;
}






#removeAllTodo {

    background-color: burlywood;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    width: 200px;
    height: 60px;
    margin-bottom: 14px;
    font-family: 'Raleway', sans-serif;



}



#removeItemDone {

    background-color: burlywood;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    width: 200px;
    height: 60px;
    margin-bottom: 14px;
    font-family: 'Raleway', sans-serif;

}

#removeAllDone {

    background-color: burlywood;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    width: 200px;
    height: 60px;
    margin-bottom: 14px;
    font-family: 'Raleway', sans-serif;

}


#addItemYourself {

    background-color: burlywood;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    width: 200px;
    height: 60px;
    margin-bottom: 14px;
    font-family: 'Raleway', sans-serif;

}


/* input i todo börjar med knapp */

#inputWrapper, #addItemYourself {
    margin-top: 20px;
}

#todoInput {
    font-family: 'Raleway', sans-serif;
    border: 1px solid;
    border-color: black;

}


/* done klasser  */

.doneBox {
    text-align: center;
    background-color: white;
    width: 70%;
    margin: 0 auto;
    border-radius: 6px;
    line-height: 2em;
    text-align: center;
    margin-top: 30px;
}

.doneBox ul {
    text-align: center;
}

.doneBox ul, li {
    padding: 10px;
    text-align: center;
}

/* titel i done */

.doneBox, h3 {
    font-family: 'Raleway', sans-serif;

}



/* footer */

footer {
    width: 100%;
    height: 100px;
    background-color: black;

}
