


/* Nav, ul , li nytt*/

nav {
    display: block;
    align-items: center;
    height: 100%;
    background: white;

}

ul {
    list-style: none;
}

li{
     font-family: 'Raleway', sans-serif;
}

nav ul {
    //display: flex;
}


nav li {
    //flex: 1;
    list-style: none;
    margin: 10px;
    
}

nav ul li a {
    font-size: 1.3em;
    text-decoration: none;

}



/* nav ul, li nytt slut*/

body {
     margin: 0;
    
       
        }

.logo{
    background-color: burlywood;
    width: 100%;
    //max-width: 375px;
    height: 100px;
}

.todoList{
    

    
    
    }  


.wrapper{
    margin: 0 auto;
}

.parchment{
    
    padding-top: 70px;
    
    text-align: center;
    
    /*nytt*/
    
    //height: 100%;
    padding-bottom: 20px;
    //margin: 0;
    
background-image: url(/images/old_paper_texture_relief_large.jpg);
   //width: 100%; /* for IE 6 */
    
       display: block;
   background-position: center;
   height: 100%;
   background-size: cover;
    
    /* nytt slut*/
    
    
   
    
}


.clear{
    clear: both;
}



footer{
  width: 100%;
    height: 100px;
    background-color: black;
   
}


/* NYTT */

.todoBox { 
    text-align: center;
   background-color: white;
   width: 70%;
    margin: 0 auto;
    border-radius: 6px;
    line-height: 2em;
    text-align: center;
    

}

.todoBox ul, li {
    padding: 10px;
}


.doneBox {
      @extend .todoBox;
          margin-top: 30px;
}
.doneBox ul{
    text-align: center;
}
.doneBox ul, li {
    padding: 10px; 
    text-align: center;
}



.parchment img {
    display: block;
   width: 100%;
   min-height: 100%;
}


/* nytt slut*/



/* text titlar*/

.todoBox, h1{
    
font-family: 'Raleway', sans-serif;
    padding-bottom: 50px;
    padding-top: 10px;
    
    
}

.h2{
    font-family: 'Raleway', sans-serif;
}


.doneBox, .h3 {
    font-family: 'Raleway', sans-serif;
    @extend .todoBox, h1
}

/* text titlar slutar */

/* h1 an */



/* h1 an slut */


/* buttons */


#removeItemTodo{

 background-color: burlywood;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    
    /*nytt med button*/
    // background-color: white;
    color: black;
    border: 2px solid black;
    
    /* nytt med button slut*/
    
    /* hitta annat ställe*/
     border-radius: 5px;
    /* hitta annat ställe slut*/
    width: 200px;
    height: 60px;
    margin-bottom: 14px;
    
    font-family: 'Raleway', sans-serif;
    
}

#removeItemTodo :hover {
    
    background-color: black;
    color: white;
}




#removeAllTodo, #removeItemDone, #removeAllDone, #addItemYourself{
    
    
@extend #removeItemTodo;
    
}





/* buttons slut */
/* input börjar */
#todoInput{
     font-family: 'Raleway', sans-serif;
    
}
/* input slutar */

#test, #addItemYourself{
    margin-top: 20px;
}



